.header nav{
    padding: 1%;
}
.header nav #name{
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    margin-top: -3%;
}
.header nav a{
    padding: 5%;
    text-decoration: none;
    color: #fff;
}